<?xml version="1.0" encoding="ISO-8859-1"?>

<root>

    <!-- Defines where the model float file directory is (i.e. vp.dat, vs.dat, etc.). -->
    <model>i26</model>

    <!-- Defines whether or not the model used is user-configurable (i.e. GriddedModel(i04) to -->
    <!-- use iteration 4 -->
    <user_configurable>Yes</user_configurable>

    <!-- Defines the model dimensions. X and Y spacing are auto-calculated but z_interval is -->
    <!-- defined. If z * z_interval is less than depth layers, then the model is extended from -->
    <!-- the last layer down to depth (that is layer z - 1 goes from (z-1) * z_interval -->
    <!-- to depth). -->
    <dimensions>
        <x>992</x>
        <y>1536</y>
        <z>100</z>
        <z_interval>500</z_interval>
        <depth>50000</depth>
    </dimensions>

    <!-- Defines the four corners of the model. This is assumed to use the ellipsoid, datum, -->
    <!-- etc. that are specified in the UTM projection string within ucvm_model.xml. -->
    <corners>
        <bottom_left>
            <e>596089.9822294062</e>
            <n>3368882.4017375312</n>
        </bottom_left>
        <bottom_right>
            <e>916544.8014376826</e>
            <n>3746809.5889656940</n>
        </bottom_right>
        <top_left>
            <e>10703.2694188816</e>
            <n>3865247.8381499471</n>
        </top_left>
        <top_right>
            <e>331158.0886271580</e>
            <n>4243175.0253781099</n>
        </top_right>
    </corners>

    <!-- Defines the projection information. -->
    <proj>+proj=utm +ellps=clrk66 +datum=NAD27 +zone=11</proj>

</root>